# Зависимости
node_modules/
.pnp
.pnp.js
package-lock.json

# Тестирование
coverage/
.nyc_output

# Сборка Next.js
.next/
out/
build/
dist/

# Переменные окружения
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Временные файлы
*.tmp
*.temp
.cache/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Turbo
.turbo

# Другое
*.pem
